# Ignore macOS debug symbol files (in any subdirectory)
**/*.dSYM/

# Ignore macOS Finder metadata (in any subdirectory)
**/.DS_Store

# Ignore .vscode
/.vscode

# Ignore everything in build/ except the pfsim binary
build/*
!build/pfsim

# Ignore everything in data/ except demo_profile.ini
data/*
!data/demo_profile.ini

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
